input {
    width: 50%;
}

button, input {
    margin-bottom: 0.5rem;
}

button {
    margin-right: 0.5rem;
}

.per-session {
    width: 25%;
}

div.session {
    border: 1px solid black; 
    border-radius: 0.25rem; 
    padding: 1rem;
}
