<div style="border: 1px solid black; border-radius: 0.25rem; padding: 1rem;">
    <h3>Draft a response</h3>
    @let disabled = isGeneratingDraft() || translationInput().translatedText === '' || translationInput().sentiment === '';
    @let disableSubmit = isGeneratingDraft() || draft().trim() === '';
    <app-feedback-loading [isLoading]="!!statusText()">{{ statusText() }}</app-feedback-loading>
    
    <div style="margin-bottom: 0.5rem;">
      <textarea id="input" name="input" rows="7" [(ngModel)]="draft" [disabled]="isGeneratingDraft()"></textarea>
      <button style="margin-right: 0.5rem;" (click)="generateDraft()" [disabled]="disabled">Generate a draft</button>
      <button [disabled]="disableSubmit" (click)="fakeSubmit()">Fake submit</button>
    </div>
    <app-translate-draft [code]="translationInput().code" [draft]="translatedDraft()" />
    <app-feedback-error [error]="error()" />
</div>